.App {
  text-align: center;
}

.App-navbar {
  background-color: #6795E1;
  min-height: 100vh;
  display: flex;
  flex-direction: line;
  align-items: stretch;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-navbar .start {
  justify-content: flex-start;
}

.App-navbar .middle {
  justify-content: center;
}

.App-navbar .end {
  justify-content: flex-end;
}

.App-selectors {
  background-color: #fff;
  display: flex;
  flex-direction: line;
  align-items: stretch;
}