.App {
  text-align: center;
}

.App-navbar {
  background-color: #6795E1;
  min-height: 5vh;
  display: flex;
  flex-direction: line;
  align-items: stretch;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-navbar .start {
  justify-content: flex-start;
  margin-right: 13vh;
}

.App-navbar .middle {
  justify-content: center;
  margin-right: 50vh;
}

.App-navbar .end {
  justify-content: flex-end;
}

.App-selectors {
  background-color: #fff;
  display: flex;
  flex-direction: line;
  align-items: stretch;
}

.App-selectors p{
  background-color: rgb(255, 255, 255);
  display: inline-block;
  flex-direction: line;
  align-items: stretch;
  margin-left: 10Vh;
}